@media (max-width: 1199.98px) {

	.cabinet-head h2 {
		font-size: 28px;
		margin-bottom: 60px;
	}
	.affiliate-program,
	.balance,
	.investments {
		padding: 25px;
	}

	.affiliate-program .title {
		font-size: 14px;
	}

	.affiliate-program .ref {
		font-size: 14px;
		padding: 14px 30px;
	}

	.balance .sum {
		font-size: 22px;
	}

	.cabinet .stat {
		padding: 25px;
	}

	.cabinet .stat .title {
		font-size: 18px;
		margin-right: 10px;
	}

	.cabinet .stat .period {
		font-size: 14px;
		margin-right: 10px;
	}

	.header-menu ul.nav-menu li {
		margin-bottom: 15px;
	}

	.header-menu ul.nav-menu li a {
		font-size: 18px;
	}

	.header-menu ul.nav-menu div.descr {
		font-size: 14px;
		margin: 5px 0 10px;
	}

	.income-calculation input {
		min-width: auto;
		padding: 14px 25px;
	}

	.income-calculation a {
		padding: 14px 25px;
	}

	.income-calculation .calculation div {
		font-size: 18px;
		line-height: 28px;
		padding: 14px 25px;
	}

	.cabinet .investments-table {
		padding: 25px;
	}

	.select {
		max-width: 210px;
	}

	.select__head {
		padding: 10px 15px;
	}

	.select__list .select__item {
		padding: 10px 15px;
	}

	.program-table .table .table-head .item,
	.program-table .table .table-body .item  {
		font-size: 14px;
		line-height: 17px;
		padding: 15px 10px;
	}

	.content .subtitle {
		font-size: 16px;
		line-height: 22px;
		margin: 0 auto 30px;
	}

	.content .descr {
		font-size: 14px;
		line-height: 18px;
	}

	.banner .descr {
	    margin-bottom: 40px;
	}

	.daily-report .stat .block {
		margin-bottom: 20px;
	}

	.daily-report .stat .block .descr {
		font-size: 12px;
		line-height: 14px;
	}

	.daily-report .stat .block .num {
		font-size: 18px;
		line-height: 22px;
	}

	.daily-report .circle {
		border: 30px solid #29A3E8;
	}

	.daily-report .circle .result {
		font-size: 48px;
		line-height: 52px;
	}

	.packages .package .percent {
		font-size: 14px;
		min-width: 150px;
	}

	.packages .package ul li {
		font-size: 12px;
	}

	.packages .package .package-num .tariff, .cabinet .package .tariff {
		font-size: 16px;
		line-height: 22px;
	}

	.packages .package .package-num .descr, .cabinet .package .descr {
		font-size: 12px;
		line-height: 16px;
	}

	section {
	    padding-top: 120px;
	}

	.calculator .package {
		padding: 40px 30px;
	}

	.calculator .package .percent {
		font-size: 18px;
	}

	.calculator .package .package-num .name {
		font-size: 28px;
		line-height: 32px;
	}

	.calculator .package .package-num .container-img {
		font-size: 58px;
		line-height: 62px;
	}

	.calculator .package-calc {
		padding: 30px;
	}

	.calculator .package-calc .sum input {
		font-size: 18px;
		line-height: 20px;
		padding: 10px 25px;
	}

	.calculator .package-calc .sum .title {
		font-size: 18px;
		line-height: 22px;
	}

	.calculator .package-calc .list .descr {
		font-size: 16px;
	}

	.calculator .package-calc .list .item:not(:last-of-type) {
		margin-bottom: 15px;
	}

	.calculator .package-calc .list .info.profit {
		font-size: 22px;
	}

	.packages .package .package-num .num, .cabinet .package .num {
		font-size: 52px;
		line-height: 58px;
	}

	.packages .package {
		padding: 40px 30px 40px 50px;
	}

	.packages .package .package-num .num, .cabinet .package .num {

	}

	.packages .package .package-num, .cabinet .package {
		min-width: 140px;
	}

	.packages .package .btn {
		padding: 10px 25px;
	}

	.packages .package .container-img img {
		max-height: 110px;
	}

	.banner {
		padding-top: 40px;
	}

	.program-table {
		margin: 55px 0 100px; 
	}




}

@media (max-width: 991.98px) {

	.cabinet-head h2 {
		margin-bottom: 40px;
	}

	header .nav-menu {
		display: none;
	}
	.btn-menu {
		display: block;
	}

	.affiliate-program .head {
		flex-direction: column;
		text-align: center;
		margin-bottom: 10px;
	}

	.affiliate-program .title {
		margin-bottom: 20px;
	}

	.affiliate-program .link {
		width: 100%;
	}

	.affiliate-program .ref {
		font-size: 12px;
		margin-right: 0;
	}

	.affiliate-program .copy {
		display: none;
	}

	.affiliate-program, .balance {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.balance .descr {
		text-align: center;
		font-size: 14px;
	}

	.balance .sum {
		font-size: 16px;
	}

	.balance .sum .and {
		padding: 0 10px;
	}

	.balance a {
		width: 100%;
	}

	.balance a:not(:last-of-type) {
		margin-bottom: 10px;
		margin-right: 0;
	}

	.cabinet .stat-head {
		flex-direction: column;
	}

	.cabinet .stat .left {
		margin-bottom: 15px;
	}

	.cabinet .investments .flex {
		overflow-x: auto;
	}

	.cabinet .investments .item {
		min-width: 135px;
	}

	.cabinet .investments {
		padding: 25px;
	}

	.cabinet .investments .title {
		font-size: 18px;
		line-height: 22px;
	}

	.spot3 {
		display: none;
	}

	.income-calculation .title {
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 30px;
	}

	.income-calculation .flex {
		flex-direction: column;
		align-items: center;
	}

	.income-calculation .flex input {
		margin-bottom: 30px;
	}

	.income-calculation .flex div {
		width: 100%;
		justify-content: center;
	}

	.income-calculation .flex a {
		flex: 1;
	}

	.income-calculation .flex .btns {
		margin-bottom: 40px;
	}

	.content .descr {
		font-size: 16px;
		line-height: 18px;
	}

	.cabinet .investments-table .table .item {
		font-size: 14px;
		line-height: 16px;
	}

	.select {
		max-width: 180px;
		min-width: 140px;
	}

	.select__head img {
		display: none;
	}

	.select__head,
	.select__list .select__item {
		font-size: 12px;
		line-height: 14px;
	}

	.select__head {
		padding: 7px 10px;
	}

	.select__list .select__item {
		padding: 10px 10px;
	}

	.cabinet .investments-table .table .item div, .cabinet .investments-table .filter div {
		flex: 2;
	}

	.program-table .table .table-head .item, .program-table .table .table-body .item {
	    font-size: 12px;
	    line-height: 14px;
	    padding: 15px 5px;
	}

	.banner .container-img {
		text-align: center;
		margin-bottom: 40px;
	}

	.banner .container-img img {
		max-width: 360px;
	}

	h1 {
		text-align: center;
		font-size: 52px;
		line-height: 58px;
	}

	h1:after {
		margin: 20px auto 40px;
	}

	.banner .social {
		display: flex;
		justify-content: center;
	}

	h2 {
		text-align: center;
	}

	h2:after {
		margin: 16px auto 18px;
	}

	.content .descr {
		margin-bottom: 40px;
	}

	.packages .package {
		flex-direction: column;
		padding: 30px 10px;
	}
	.packages .package .package-num {
		min-width: inherit;
		margin-bottom: 30px;
	}

	.packages .package .percent {
		text-align: center;
		margin-bottom: 30px;
	}
	.packages .package .container-img {
		right: 0;
		top: 15px;
		left: 0;
		text-align: center;
	}

	.packages .package ul {
		padding-left: 0;
		border-left: 0;
		margin-bottom: 40px;
	}

	.packages .package ul:first-child {
		margin-right: 5px;
	}

	.packages .package ul li {
		font-size: 10px;
	}

	.packages .package a {
		width: 260px;
	}

	.calculator .package {
	    padding: 20px;
	}

	.calculator .package .percent {
		font-size: 16px;
	}

	.top-title {
		font-size: 18px;
	}

	.top ul li .sum {
		font-size: 16px;
	}

	.top ul li .name {
		font-size: 14px;
	}

	.top ul {
		margin-bottom: 60px;
	}

	.trading-history .slider .item {
		min-height: 300px;
	}

	.accordion-header {
		padding: 18px 40px;
	}

	.accordion-header .title {
		font-size: 16px;
	}

	.card {
		padding: 0 40px 20px;
	}

	.content .subtitle {
		text-align: center;
	}

	.about-us .container-video {
		display: flex;
		justify-content: center;
	}

	.about-us .container-video img {
		max-width: 360px;
	}

	.content .subtitle {
		max-width: 360px;
	}

	.spot {
		display: none;
	}

	.triangle {
		display: none;
	}

	.daily-report .stat {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    align-items: center;
	}

	.daily-report .stat .block {
		margin-right: 15px;
	}
	.daily-report .stat a {
		margin-bottom: 20px;
	}

	.packages {
	    max-width: 360px;
	    margin: 0 auto;
	}

	.calculator .package-calc .list .descr {
		margin-bottom: 0;
	}

	.calculator .package-calc .sum {
		flex-direction: column;
		height: auto;
	}

	.calculator .package-calc .sum .title{
		margin-bottom: 15px;
	}

	.calculator .package-calc .tariff {
		height: 84px;
	}

	.calculator .package-calc .tariff .title {
		font-size: 18px;
		line-height: 22px;
	}

	.calculator .package-calc .tariff .percent {
		font-size: 22px;
	}

	.calculator .package-calc .list .info.profit {
		font-size: 18px;
	}

	.footer-nav {
		margin-bottom: 30px;
	}

	footer .social {
		margin-bottom: 30px;
	}

	.packages .package .package-num {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.packages .package .package-num .num, .cabinet .package .num {
		margin-bottom: 30px;
		margin-right: 0;
	}

	.packages .package .package-num .descr, .cabinet .package .descr{
		margin-bottom: 0;
		text-align: center;
	}

	footer a.btn,
	footer a.btn-transparent {
		max-width: 300px
	}

	footer .adapt {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}


}

@media (max-width: 767.98px) {

	header .container-btn {
		display: none;
	}

	.text-block h2 {
		font-size: 36px;
	}
	.text-block .date {
		font-size: 16px;
		margin-bottom: 70px;
	}

	.text-block .title {
		font-size: 22px;
	}

	.text-block .text {
		font-size: 16px;
		margin-bottom: 70px;
	}
	.spot {
		display: none;
	}

	.nav-tabs .nav-item {
		width: 50%;
	}
	.nav-tabs .nav-link,
	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		padding: 15px 20px;
	}

	.cabinet .stat .left {
		flex-direction: column;
	}

	.cabinet .stat-head {
		align-items: flex-start;
	}

	.cabinet .stat .left {
		align-items: flex-start;
	}

	.cabinet .stat .arrows {
		display: none;
	}

	.cabinet .stat .title {
		line-height: 22px;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.cabinet .stat .right .select-date {
		white-space: nowrap;
	}

	.cabinet .stat .right .select-date .item:not(:last-of-type) {
		margin-right: 15px;
	}

	.cabinet .stat .right {
		width: 100%;
	}

	.cabinet .stat .right .select-date {
		width: 100%;
		overflow-y: auto;
	}

	.cabinet .package.home .num {
		font-size: 74px;
		line-height: 74px;
		margin-right: 10px;
	}

	.cabinet .package.home .descr {
		font-size: 19px;
		line-height: 23px;
	}

	.cabinet .package.home .tariff {
		font-size: 28px;
		line-height: 32px;
	}

	.cabinet .investments-table {
		box-shadow: none;
		background: inherit;
		padding: 0;
	}

	.cabinet .investments-table .filter > div {
		flex: 1 !important;
	}

	.cabinet .investments-table .table .item div {
		flex: 1;
	}

	.select {
		max-width: 165px;
	}

	.select__head::after {
		right: 10px;
	}

	.program-table .table {
		overflow-x: auto;
	}

	.daily-report .circle {
		max-width: 250px;
		margin: 0 auto 30px;
	}

	.calculator .p-0 {
		padding: 0 5px !important;
	}

	.calculator .package {
		padding: 20px 5px;
		border-radius: 15px;
		margin-bottom: 30px;
	}

	.calculator .package.active,
	.calculator .package:hover {
		box-shadow: 0px 17px 20px rgba(41, 163, 232, 0.13);
	}

	.calculator .package .package-num {
		padding-bottom: 0;
		margin-bottom: 10px;
	}

	.calculator .package .package-num .container-img {
		margin-bottom: 10px;
		font-size: 38px;
		line-height: 38px;
	}

	.calculator .package .package-num .descr {
		font-size: 8px;
		line-height: 10px;
	}

	.calculator .package .package-num .name {
		font-size: 12px;
		line-height: 15px;
	}

	.calculator .package .package-num:after {
		display: none;
	}

	.calculator .package .percent {
		font-size: 10px;
	}

	.calculator .package-calc .sum {
		flex-direction: column;
		height: inherit;
	}

	.calculator .package-calc .sum .title {
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 22px;
	}

	.calculator .package-calc .list .descr {
		font-size: 14px;
	}

	.calculator .package-calc .list .item:not(:last-of-type) {
		margin-bottom: 10px;
	}

	.calculator .package-calc .list .info.profit {
		font-size: 14px;
	}

	.calculator .package-calc .tariff {
		margin-bottom: 30px;
	}

	.calculator .package-calc .tariff .title {
		font-size: 18px;
		line-height: 22px;
	}

	.calculator .package-calc .tariff .percent {
		font-size: 24px;
	}

	.calculator .package-calc {
		padding: 30px 15px;
	}

	.calculator .package-calc .sum input {
		font-size: 14px;
		line-height: 17px;
	}

	.calculator .package-calc .sum {
		margin-bottom: 20px;
	}

	.calculator .package-calc:first-child {
		margin-bottom: 15px;
	}

}

@media (max-width: 575.98px) {

	header {
		padding: 15px 0;
	}

	.triangle {
		display: none;
	}

	.logo img {
		max-width: 24px;
	}

	.logo .text {
		font-size: 14px;
		line-height: 17px;
	}

	.content {
	    margin-top: 70px;
	}

	section {
	    padding-top: 70px;
	}

	h1 {
		font-size: 28px;
		line-height: 34px;
		text-align: center;
		margin-bottom: 30px;
	}

	h1:after {
		width: 40px;
		height: 2px;
		margin: 14px auto;
	}

	.banner .container-img {
		margin-bottom: 30px;
	}

	.banner .social {
		display: none;
	}

	.banner .descr {
		margin-bottom: 0;
	}

	h2 {
		text-align: center;
		font-size: 28px;
		line-height: 34px;
	}

	h2:after {
		width: 40px;
		height: 2px;
		margin: 14px auto;
	}

	.content .subtitle {
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		margin-bottom: 20px;
	}

	.content .descr {
		font-size: 14px;
		line-height: 17px;
	}

	.top-title {
		font-size: 16px;
		margin-bottom: 20px;
		text-align: center;
	}

	.top ul li .sum {
		font-size: 16px;
	}

	.top ul {
		margin-bottom: 40px;
	}

	.accordion-header .title {
		font-size: 10px;
		line-height: 100%;
	}

	.accordion-header {
		padding: 15px 18px;
	}

	.accordion:not(:last-of-type) {
		margin-bottom: 6px;
	}

	.card {
		font-size: 10px;
		line-height: 140%;
		padding: 0 18px 15px;
	}

	.accordion-header .img img {
		max-width: 10px;
	}

	.trading-history .slider .item {
		min-height: 200px;
	}

	.trading-history .slider .item {
		padding: 5px;
	}

	footer .logo {
		display: inline-flex;
		margin-bottom: 0;
	}

	footer .social {
		display: inline-flex;
	}

	footer .social img {
		max-width: 45px;
	}

	footer .footer-nav a {
		font-size: 12px;
		line-height: 120%;
	}

	footer .footer-nav {
		margin-bottom: 40px;
	}

	.copyright {
		font-size: 14px;
		line-height: 17px;
	}

	input, textarea {
		font-size: 14px;
		line-height: 17px;
	}

	.feedback textarea {
		margin-bottom: 10px;
	}

	.feedback button {
		width: 100%;
	}

	.daily-report .circle {
		width: 180px;
		margin: 0 auto 30px;
		border: 28px solid #29A3E8;
	}

	.daily-report .circle .circle-descr {
		font-size: 8px;
		line-height: 10px;
	}

	.daily-report .circle .result {
		font-size: 28px;
		line-height: 34px;
	}

	.daily-report .stat {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.daily-report .descr {
		margin-bottom: 40px;
	}

	.daily-report .stat .block {
		margin-bottom: 30px;
	}

	.daily-report a.btn-transparent {
		margin-bottom: 30px;
	}

	.about-us .descr {
		margin-bottom: 30px;
	}

	.trading-history .slider .item {
		margin: 0 5px;
	}

	.trading-history .slider .item {
		min-height: 150px;
	}

	.text-block h2 {
	    font-size: 24px;
	    line-height: 28px;
	}

	.text-block .date {
		font-size: 14px;
		margin-bottom: 50px;
	}

	.text-block .title {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.text-block .text {
		font-size: 14px;
		margin-bottom: 50px;
	}

	.header .btn-menu img,
	.header-menu .close img {
		max-width: 25px;
	}

	.cabinet .header .right a.btn-transparent {
		display: none;
	}

	.cabinet .header-menu .close {
		position: absolute;
		top: 30px;
		right: 30px;
	}

	.header-menu ul.nav-menu li a {
		font-size: 14px;
	}

	.header-menu ul.nav-menu div.descr {
		font-size: 12px;
		margin: 5px 0 10px;
	}

	.header-menu ul.nav-menu li {
		margin-bottom: 15px;
	}

	.crypt h2 {
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 30px;
	}

	.crypt h2 + .descr {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.crypt .tab-pane .flex {
		flex-direction: column;
	}

	.crypt .tab-pane .title {
		font-size: 14px;
		line-height: 18px;
	}

	.crypt .tab-pane {
	    padding: 20px 0 60px;
	}

	.crypt .tab-pane .flex > div,
	.crypt .tab-pane .flex > button {
		width: 100%;
	}

	.crypt .tab-pane input {
		width: 100% !important;
		margin-right: 0;
		margin-bottom: 15px;
		font-size: 18px;
		padding: 14px 30px;
	}

	.crypt .tab-pane label {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 10px;
	}

	.crypt .tab-pane .flex {
		margin-top: 0;
	}

	.replenish-container .descr {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 20px;
	}

	.replenish-container .title {
		font-size: 18px;
	}

	.replenish-container .flex {
		flex-direction: column;
	}

	.replenish-container .input .descr {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 10px;
	}

	.replenish-container .input .text {
		font-size: 16px;
		line-height: 18px;
	}

	.replenish-container .flex .input.link {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.replenish-container .qr {
		display: none;
	}

	.replenish-container .flex .input {
		width: 100%;
	}

	.cabinet-head h2 {
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 29px;
	}

	.cabinet .stat {
		background: inherit;
		box-shadow: none;
		padding: 20px 0;
		margin-bottom: 100px;
	}

	.affiliate-program {
		margin-bottom: 10px;
	}

	.cabinet .stat .right .select-date .item {
		font-size: 12px;
	}

	.cabinet .stat .right .select-date {
		padding-bottom: 5px;
	}

	.cabinet .package {
		flex-direction: column;
		text-align: center;
	}

	.cabinet .package.home .num {
		margin-right: 0;
		margin-bottom: 30px;
	}

	.cabinet .warning {
		margin-bottom: 35px;
	}

	.income-calculation {
		margin-bottom: 40px;
	}

	.income-calculation .title {
		font-size: 18px;
		line-height: 110%;
	}

	.income-calculation .flex input {
		width: 100%;
		font-size: 18px;
		line-height: 22px;
	}

	.cabinet .package {
		margin-top: 50px;
	}

	.cabinet .investments {
		padding: 0;
		background: inherit;
		box-shadow: none;
	}

	.income-calculation .calculation div {
	    font-size: 15px;
	    line-height: 18px;
	    padding: 14px 20px;
	}

	#confirm-popup .title, #error-popup .title {
		font-size: 20px;
		line-height: 22px;
	}

	#ref-popup .title,
	#error2-popup .title {
		font-size: 18px;
		line-height: 20px;
	}

	#confirm-popup a,
	#ref-popup a {
		margin-bottom: 20px;
	}

	#confirm-popup .descr,
	#ref-popup .descr {
		font-size: 12px;
		line-height: 16px;
	}

	.cabinet .investments-table {
		margin-top: 40px;
	}

	.cabinet .investments-table .table .item {
		flex-direction: column;
	}

	.cabinet .investments-table .table .date {
		margin-bottom: 5px;
	}

	.cabinet .investments-table .table .item:not(:last-of-type) {
		margin-bottom: 20px;
	}

	.cabinet .investments-table .filter {
		flex-direction: column;
	}

	.cabinet .investments-table .filter .sum {
		align-items: flex-start;
	}

	.select__head,
	.select__list .select__item {
		font-size: 14px;
		line-height: 17px;
	}

	.select {
		max-width: 100%;
	}

	.select__head {
	    padding: 10px 20px;
	} 

	.select__list .select__item {
		padding: 10px 20px;
	}

	.banner .container-img img {
		max-width: 100%;
	}

	.banner .container-img img {
		max-width: 220px;
	}

	.calculator .package-calc .tariff {
		height: auto;
	}

	.program-table .title {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 30px;
	}

	.program-table {
		margin: 20px 0 60px; 
	}

	.program-table .table .table-head .item, .program-table .table .table-body .item {
		min-width: 100px;
	}





}

@media (max-width: 359.98px) {
	.income-calculation .flex .btns,
	.income-calculation .flex .calculation {
		flex-direction: column;
	}

	.income-calculation .calculation div:not(:last-of-type),
	.income-calculation a:not(:last-of-type) {
		margin-right: 0;
		margin-bottom: 10px;
	}
}


