header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 45px 0 15px;
	transition: .2s ease-out;
}

.header {
	display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: relative;
}

header.scroll {
	padding: 10px 0;
	background-color: rgba(25, 27, 70,.85);
	backdrop-filter: blur(15px);
	box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.11);
}

.logo {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #29A3E8;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.logo img {
	-webkit-transition: .4s ease-out;
	-moz-transition: .4s ease-out;
	-o-transition: .4s ease-out;
	transition: .4s ease-out;
}

.logo span {
	color: #ff7d7d;
}

.logo:hover {
	text-decoration: none;
	color: #29A3E8;
}

.logo:hover img {
	-moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.logo .text {
	margin-left: 10px;
}

header .nav-menu {
	display: flex;
}

header ul.nav-menu li a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #6B6EAF;
	display: flex;
	align-items: center;
	text-decoration: none;
	position: relative;
	transition: .2s ease-out;
}

header ul.nav-menu li:not(:last-of-type) {
	margin-right: 15px;
}

header ul.nav-menu li.active a,
header ul.nav-menu li a:hover {
	color: #fff;
}

header ul.nav-menu li.active a:before,
header ul.nav-menu li:hover a:before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: -3px;
}

.btn-menu {
	display: none;
	cursor: pointer;
}

.cabinet .btn-menu {
	display: block;
}

.header-menu {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgb(24,25,47);
	background: linear-gradient(90deg, rgba(24,25,47,0.9) 0%, rgba(32,34,80,0.9) 100%);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.header-menu .close {
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
}

.cabinet .header-menu ul.nav-menu {
	margin-top: 70px;
}

.cabinet .header-menu .close {
	position: relative;
	top: 0;
	right: 0;
}

.header-menu ul.nav-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.header-menu ul.nav-menu div.descr {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
	color: #6B6EAF;
	margin: 15px 0 20px;
}

.header-menu ul.nav-menu li a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 100%;
	color: #6B6EAF;
	display: flex;
	align-items: center;
	text-decoration: none;
	position: relative;
	transition: .2s ease-out;
}

.header-menu ul.nav-menu li {
	margin-bottom: 25px;
}

.header-menu ul.nav-menu li.active a,
.header-menu ul.nav-menu li a:hover {
	color: #29A3E8;
}

.header .btn-transparent {
	margin-right: 15px;
}

.white-popup-block {
	max-width: 360px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}


.white-popup-block .form-img {
	margin-bottom: 24px;
}

.white-popup-block input {
	width: 100%;
	margin-bottom: 10px;
}

.white-popup-block button.btn {
	width: 100%;
	text-align: center;`
}

.mfp-close-btn-in .mfp-close {
	color: #29a3e8 !important;
}

.mfp-wrap {
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
}

.link-reg {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #6B6EAF;
	margin-top: 20px;
}

.link-reg > a {
	color: #29a3e8;
}

.banner {
	position: relative;
}

.banner:after {
	content: '';
	display: block;
	background: url('../img/icons/bg-grid3.svg') no-repeat center center;
	background-size: cover;
	position: absolute;
	right: 0%;
	top: -200px;
	width: 50%;
	height: 100%;
	z-index: -1;
}

.banner .descr {
	margin-bottom: 75px;
}

.banner .container-img img {
	max-width: 100%;
}

.social a:not(:last-of-type) {
	margin-right: 15px;
}

.banner .container-btn {
	display: none;
}


/*About Us*/
.about-us .container-video {
	cursor: pointer;
	-webkit-filter: grayscale(30%);
	filter: grayscale(30%);
	transition: .2s ease-out;
}

.about-us .container-video:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.about-us .container-video img {
	max-width: 100%
	
}

.daily-report {
	position: relative;
}

.daily-report .stat .block {
	margin-bottom: 34px;
}

.daily-report .stat .block .descr {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	margin-bottom: 3px;
}

.daily-report .stat .block .num {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #29A3E8;
}

.daily-report .circle {
	width: 100%;
	border: 40px solid #29A3E8;
	box-sizing: border-box;
	border-radius: 50%;
	height: 100%;

	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.daily-report .circle .circle-descr {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	text-align: center;

}

.daily-report .circle .result {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 78px;
	text-align: center;
	color: #FF7D7D;
}

.product-packages {
	position: relative;
}

.product-packages:before {
	content: '';
	display: block;
	background: url('../img/icons/bg-grid2.svg') no-repeat center center;
	background-size: cover;
	position: absolute;
	right: 10%;
	bottom: -10%;
	width: 40%;
	height: 60%;
	z-index: -1;
}

.packages {

}



.packages .package {
	background: linear-gradient(88.88deg, #131435 -2.87%, #1A1C4D 104.28%);
	box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.11);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 40px 35px 40px 60px;
}

.packages .package:not(:last-of-type) {
	margin-bottom: 15px;
}
.packages .package .container-img {
	position: absolute;
	left: 12px;
	z-index: 0;
}
.packages .package .package-num,
.cabinet .package {
	display: flex;
	align-items: center;
	z-index: 1;
	min-width: 160px;
}

.packages .package .package-num .num,
.cabinet .package .num {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 74px;
	line-height: 74px;
	color: #29A3E8;
	text-shadow: 3px 3px 0px #131538;
	margin-right: 10px;
	position: relative;
}

.packages .package .package-num .num2 {
	color: #ff7d7d;
}
.packages .package .package-num .num3,
.cabinet .package .num3 {
	color: #ffc700;
}

.packages .package .package-num .num:before,
.cabinet .package .num:before {
	content: '';
	display: block;
	position: absolute;
	height: 44px;
	width: 67px;
	bottom: 0;
	left: -45px;
}

.packages .package .package-num .num1:before {
	background: url('../img/icons/package1.svg') no-repeat center center;
}

.packages .package .package-num .num2:before {
	background: url('../img/icons/package2.svg') no-repeat center center;
}

.packages .package .package-num .num3:before,
.cabinet .package .num3:before {
	background: url('../img/icons/package3.svg') no-repeat center center;
}

.packages .package .package-num .num3:after,
.cabinet .package .num3:after {
	content: '';
	display: block;
	position: absolute;
	height: 44px;
	width: 67px;
	top: -10px;
	right: -30px;
	background: url('../img/icons/package3(2).svg') no-repeat center center;
	z-index: -1;
}

.packages .package .package-num .descr,
.cabinet .package .descr {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 19px;
	line-height: 23px;
	color: #FF7D7D;
}

.packages .package .package-num .tariff,
.cabinet .package .tariff {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

.packages .package .percent {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 120%;
	color: #fff;
	min-width: 162px;
	z-index: 1;
}

.packages .package .percent .day span {
	color: #FF7D7D;
}

.packages .package .percent .rate {
	color: #29a3e8;
}

.packages .package .info {
	display: flex;
}

.packages .package ul {
	padding-left: 15px;
	border-left: 1px solid #343778;
}

.packages .package ul:first-child {
	margin-right: 15px;
}

.packages .package ul li {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 120%;
	color: #29a3e8;
}

.packages .package ul li span {
	color: #FFFFFF;
}

.calculator {
	position: relative;
}

.calculator:before {
	content: '';
	display: block;
	background: url('../img/icons/bg-grid.svg') no-repeat center center;
	background-size: cover;
	position: absolute;
	left: 0;
	bottom: -300px;
	width: 50%;
	height: 100%;
	z-index: -1;
}

.calculator .p-0 {
	padding: 0 15px!important;
}

.calculator .package {
	background: linear-gradient(88.88deg, #131435 -2.87%, #1A1C4D 104.28%);
	box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.11);
	border-radius: 20px;
	margin-bottom: 40px;
	cursor: pointer;
	padding: 50px;
	transition: .2s ease-out;
}

.calculator .package:hover,
.calculator .package.active {
	box-shadow: 0px 17px 20px rgba(41, 163, 232, 0.13);
}

.calculator .package.active {
 	background: linear-gradient(88.88deg, #0D0E30 -2.87%, #141751 104.28%);
 }

.calculator .package .package-num {
	font-family: Montserrat;
	font-style: normal;
	padding-bottom: 35px;
	position: relative;
	margin-bottom: 20px;
}

.calculator .package .package-num:after {
	content: '';
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60px;
    height: 1px;
    background: #4B4F9A;
    position: absolute;
    margin: 0 auto;
}

.calculator .package .package-num .container-img {
	font-weight: bold;
	font-size: 82px;
	line-height: 100px;
	color: #29A3E8;
	text-shadow: 3px 3px 0px #131538;
	margin-bottom: 15px;
	text-align: center;
	position: relative;
}

.calculator .package .package-num .container-img.num1 {
	color: #29A3E8;
}

.calculator .package .package-num .container-img.num2 {
	color: #ff7d7d;
}

.calculator .package .package-num .container-img.num3 {
	color: #ffc700;
}

.calculator .package .package-num .descr {
	font-weight: 600;
	font-size: 19px;
	line-height: 23px;
	text-align: center;
	color: #FF7D7D;
	margin-bottom: 4px;
}

.calculator .package .package-num .name {
	font-weight: bold;
	font-size: 34px;
	line-height: 41px;
	text-align: center;
	color: #FFFFFF;
}

.calculator .package .percent {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 120%;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator .package .percent .day {
	color: #fff;
}

.calculator .package .percent .day > span {
	color: #FF7D7D;
}

.calculator .package .percent .rate {
	color: #29A3E8;
}

.calculator .package-calc {
	font-family: Montserrat;
	font-style: normal;
	color: #29A3E8;
	background: linear-gradient(88.88deg, #131435 -2.87%, #1A1C4D 104.28%);
	box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.11);
	border-radius: 20px;
	padding: 50px;
}

.calculator .package-calc .sum {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 52px;
	margin-bottom: 40px;
}

.calculator .package-calc .sum form {
	display: flex;
}

.calculator .package-calc .sum input {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	margin-right: 20px;
}

.calculator .package-calc .sum .title {
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
}

.calculator .package-calc .tariff {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 52px;
	margin-bottom: 40px;
}

.calculator .package-calc .tariff .title {
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
}

.calculator .package-calc .tariff .title > span {
	color: #fff;
}

.calculator .package-calc .tariff .percent {
	font-weight: 600;
	font-size: 34px;
	line-height: 120%;
	color: #FFFFFF;
}

.calculator .package-calc .list {

}

.calculator .package-calc .list .item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.calculator .package-calc .list .item:not(:last-of-type) {
	margin-bottom: 22px;
}

.calculator .package-calc .list .descr {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: #29A3E8;
}

.calculator .package-calc .list .info {
	color: #fff;
}

.calculator .package-calc .list .info.profit {
	font-weight: 600;
	font-size: 28px;
	line-height: 120%;
	color: #29A3E8;
}


.top {
	position: relative;
}

.top-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 120%;
	color: #FFFFFF;
	margin-bottom: 30px;
}

.top-title > span {
	color: #29A3E8;
}

.top ul {
	margin-bottom: 90px;
}

.top ul li {
	font-family: Montserrat;
	font-style: normal;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top ul li:not(:last-of-type) {
	margin-bottom: 20px;
}

.top ul li .left {
	display: flex;
	align-items: center;
	min-width: 160px;
}

.top ul li .place {
	font-weight: bold;
	font-size: 16px;
	line-height: 120%;
	text-align: center;
	color: #FFFFFF;
	width: 32px;
	min-width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	border-radius: 50%;
	position: relative;
}

.top ul li .place:after {
	content: '';
	display: block;
	background: url('../img/icons/place.svg') no-repeat center center;
	position: absolute;
	width: 100%;
	height: 100%;

}

.top ul li:first-child .place {
	background: #29a3e8;
}

.top li .line {
	height: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	border-color: #383b7b;
	margin: 0 15px;
	flex: 1;
}

.top ul li .name {
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #FFFFFF;
}

.top ul li .sum {
	font-weight: 600;
	font-size: 18px;
	line-height: 120%;
	text-align: right;
	color: #29A3E8;
	white-space: nowrap;
}

.top .btn {
	display: inline-block;
	margin: 0 auto;
}

.trading-history {
	position: relative;
}

.trading-history .slider {
	display: flex;
	justify-content: center;
}

.slick-list {
	padding: 30px 0;
}

.trading-history .slider .item {
	background: #1C1C1E;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.11);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	min-height: 380px;
	margin: 0 10px;
}

.trading-history .slider .item img {
	max-width: 100%;
	max-height: 100%;
}

.support {
	position: relative;
}

.accordion:not(:last-of-type) {
	margin-bottom: 15px;
}

.accordion-header {
	width: 100%;
	background: #1C1F4E;
	box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.11);
	border-radius: 12px;
	display: block;
	text-decoration: none;
	padding: 22px 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.accordion-header:hover {
	text-decoration: none;
}

.accordion-header .title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
	transition: .2s ease-out;
}

.accordion-header:hover .title {
	padding-left: 4px;
}

.accordion-header .img img {
	transform: rotate(180deg);
	transition: .2s ease-out;
}

.card {
	background: #1C1F4E;
	box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.11);
	border-radius: 0 0 12px 12px;
	color: #fff;
	padding: 0 55px 40px;
	border: 0;
}

.accordion-header[aria-expanded="true"] {
	border-radius: 12px 12px 0 0;
}

.accordion-header[aria-expanded="true"] .img img {
	transform: rotate(0deg);
}

.feedback {
	position: relative;
}

.feedback .title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 27px;
	line-height: 120%;
	color: #29A3E8;
}
.feedback {
	padding: 70px 0 50px;
}
.feedback input {
	width: 100%;
	margin-bottom: 10px;
}

.feedback textarea {
	width: 100%;
	min-height: 180px;
	border-radius: 20px;
	margin-bottom: 30px;
}

.feedback button {
	float: right;
}



footer {
	background: #141532;
	padding: 70px 0 50px;
}

footer .logo {
	margin-bottom: 15px;
}

footer .footer-nav a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	color: #6B6EAF;
	text-decoration: none;
	transition: .2s ease-out;
}

footer .footer-nav li:not(:last-of-type) {
	margin-bottom: 15px;
}

footer .footer-nav a:hover {
	color: #fff;
}

footer a.btn-transparent {
	margin-bottom: 10px;
}

.copyright {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #57586F;
	text-align: center;

	background: #101125;
	padding: 15px 0;
	width: 100%;
}

.cabinet .header-menu ul.nav-menu {
	align-items: flex-start;
}

.text-block {
	padding-top: 100px;
}

.text-block h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 15px;
}

.text-block .date {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.6;
	margin-bottom: 115px;
}

.text-block h2:after {
	display: none;
}

.text-block .title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 110%;
	color: #FFFFFF;
	margin-bottom: 30px;
}

.text-block .text {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	color: #CFCFCF;
	margin-bottom: 100px;
}

.header .right {
	display: flex;
	align-items: center;
}

.header .right a.btn-transparent {
	margin-right: 50px;
}

.crypt {
	max-width: 750px;
	margin: 0 auto;
	padding-top: 0;
}

.crypt h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.crypt h2:after {
	display: none;
}

.crypt h2 img {
	margin-right: 10px;
}

.crypt h2 + .descr {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #29A3E8;
	margin-bottom: 35px;
}

.nav-tabs {
    border-bottom: 1px solid #272955;
    justify-content: center;
}

.nav-tabs .nav-item {
	width: 200px;
	text-align: center;
}

.nav-tabs .nav-link {
	border-radius: 20px 20px 0px 0px;
	border: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #6B6EAF;
	padding: 15px 50px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	background: #272955;
	border-radius: 20px 20px 0px 0px;
	border: none;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;

	padding: 15px 50px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	background: rgba(39, 41, 85,.5);
}

.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
	background: #272955;
}

.crypt .tab-pane .title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 30px;
}

.crypt .tab-pane {
	padding: 70px 0 100px;
}

.crypt .tab-pane .title span {
	color: #29a3e8;
}

.crypt .tab-pane label {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	color: #6B6EAF;
	margin-bottom: 16px;
	display: block;
}

.crypt .tab-pane input {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	color: #FFFFFF;
}

.crypt .tab-pane #purse {
	width: 100%;
}

.crypt .tab-pane .flex {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-top: 30px;
}

.crypt .tab-pane .flex > div,
.crypt .tab-pane .flex > button {
	flex: 1;
}

.crypt .tab-pane .flex > div input {
	width: 256px;
	margin-right: 10px;
}

.crypt .tab-pane .flex > button {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: 22px;
	padding: 16px 32px;
}

.replenish-container {
	max-width: 650px;
	margin: 0 auto;
	position: relative;
}

.replenish-container h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.replenish-container h2 img {
	margin-right: 10px;
}

.replenish-container h2:after {
	display: none;
}

.replenish-container .descr {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #29A3E8;
	margin-bottom: 60px;
}

.replenish-container .title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 30px;
}

.replenish-container .title span {
	color: #29a3e8;
}


.replenish-container .flex {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}

.replenish-container .flex .input {
	flex: 1;
}

.replenish-container .flex .input.link {
	margin-right: 15px;
}

.replenish-container .input .descr {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	color: #6B6EAF;
	text-align: left;
	margin-bottom: 16px;
}

.replenish-container .input .text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;

	background: rgba(43, 45, 89, 0.8);
	border-radius: 93px;
	padding: 16px 30px;
}

.replenish-container .input .text.big {
	font-size: 22px;
}

.replenish-container .qr {
	text-align: center;
}

.cabinet-head {
	padding-top: 0;
}

.cabinet-head h2 {
	text-align: center;
	margin-bottom: 80px;
}

.cabinet-head h2:after {
	display: none;
}

.affiliate-program {
	background: #1A1D48;
	box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.11);
	border-radius: 38px;
	padding: 42px 40px;
	margin-bottom: 25px;
	width: 100%;
}

.affiliate-program .head {
	display: flex;
	margin-bottom: 20px;
}	

.affiliate-program .title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}

.affiliate-program .activated {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #29A3E8;
}

.affiliate-program .link {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.affiliate-program .ref {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #fff;

	background: rgba(43, 45, 89, 0.8);
	border-radius: 71px;
	padding: 14px 38px;
	flex: 1;
	margin-right: 20px;
}

.affiliate-program .ref::placeholder {
	color: #484B88;
}

.affiliate-program .copy {
	cursor: pointer;
	display: inline-block;
}

.balance {
	background: #1A1D48;
	box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.11);
	border-radius: 38px;
	padding: 42px 40px;
	width: 100%;
	margin-bottom: 25px;
}

.balance .descr {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #29A3E8;
	margin-bottom: 10px;
}

.balance .sum {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
	color: #FFFFFF;
	display: flex;
	margin-bottom: 20px;
}

.balance .sum div {
	display: flex;
}

.balance .sum .and {
	padding: 0 15px;
	color: rgba(43, 45, 89, 0.8);;
}

.balance .sum span {
	color: #ff7d7d;
}

.balance a {
	display: inline-block;
}

.balance a:not(:last-of-type) {
	margin-right: 10px;
}

.cabinet .stat {
	background: #1A1D48;
	box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.11);
	border-radius: 38px;
	padding: 42px 40px;
	margin-bottom: 130px;
}

.cabinet .stat-head {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cabinet .stat .left {
	display: flex;
	align-items: center;
}

.cabinet .stat .title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #29A3E8;
	margin-right: 15px;
}

.cabinet .stat .period {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin-right: 15px;
}

.cabinet .stat .arrows {
	display: flex;
}

.cabinet .stat .arrow {
	background: #6B6EAF;
	border-radius: 50%;
	width: 28px;
	height: 28px;	
	transition: .2s ease-out;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cabinet .stat .arrow:hover {
	background: #29A3E8;
	box-shadow: 0px 4px 22px rgba(35, 127, 213, 0.64);
}

.cabinet .stat .arrow:first-child {
	margin-right: 10px;
}

.cabinet .stat .right {
	display: flex;
	align-items: center;
}

.cabinet .stat .right .select-date {
	display: flex;
}

.cabinet .stat .right .select-date .item {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	transition: .2s ease-out;
	position: relative;
}

.cabinet .stat .right .select-date .item:not(:last-of-type) {
	margin-right: 10px;
}

.cabinet .stat .right .select-date .item:hover {
	color: #29a3e8;
	cursor: pointer;
}

.cabinet .stat .right .select-date .item:after {
	content: '';
	display: none;
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: -3px;
	transition: .2s ease-out;
}

.cabinet .stat .right .select-date .item:hover:after {
	background: #29a3e8;
	display: block;
}

.cabinet .stat .right .select-date .item.active {
	color: #29a3e8;
}

.cabinet .stat .right .select-date .item.active:after {
	display: block;
	background: #29a3e8;
}

.cabinet .package {
	justify-content: center;
	margin-bottom: 25px;
	margin-top: 100px;
}

.cabinet .package.home {
	margin-top: 0;
}

.cabinet .package .num {
	margin-right: 30px;
}

.cabinet .package.home .num {
	margin-right: 35px;
	font-size: 92px;
	line-height: 92px;
}

.cabinet .package.home .descr {
	font-size: 22px;
	line-height: 27px;
}

.cabinet .package.home .tariff {
	font-size: 46px;
	line-height: 56px;
}

.cabinet .warning {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: center;

	color: #FFFFFF;
	max-width: 350px;
	margin: 0 auto 70px;
}

.cabinet .warning span {
	color: #29A3E8;
}

.cabinet .investments,
.cabinet .investments-table {
	background: #1A1D48;
	box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.11);
	border-radius: 38px;
	padding: 42px 40px;
	margin-bottom: 30px;
}

.cabinet .investments .title,
.cabinet .investments-table .title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #29A3E8;
	display: block;
	margin-bottom: 20px;
}

.cabinet .investments .flex {
	display: flex;
	justify-content: space-between;
}

.cabinet .investments .item {
	flex: 1;
}
.cabinet .investments .item:not(:last-of-type) {
	border-right: 1px solid #343778;
	margin-right: 30px;
}

.cabinet .investments .item .descr {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #6B6EAF;
	margin-bottom: 20px;
	max-width: 100px;
	min-height: 51px;
}

.cabinet .investments .item .text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

.cabinet .investments.home {
	padding: 0;
	box-shadow: none;
	background: inherit;
	margin-bottom: 60px;
}

.income-calculation {
	margin-bottom: 60px;
}

.income-calculation .title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.income-calculation .flex {
	display: flex;
	justify-content: space-between;
}

.income-calculation input {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	min-width: 250px;
}

.income-calculation .flex div {
	display: flex;
}


.income-calculation .calculation div {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 120%;
	color: #29A3E8;
	text-shadow: 3px 3px 0px #131538;

	padding: 17px 35px;
	background: rgba(43, 45, 89, 0.8);
	border-radius: 93px;
}

.income-calculation .calculation div:not(:last-of-type),
.income-calculation a:not(:last-of-type) {
	margin-right: 10px;
}

#confirm-popup {

}

#confirm-popup .container-img,
#error-popup .container-img,
#ref-popup .container-img,
#error2-popup .container-img {
	margin-bottom: 30px;
}

#confirm-popup .title,
#error-popup .title,
#ref-popup .title,
#error2-popup .title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 60px;
}

#confirm-popup a,
#ref-popup a {
	margin-bottom: 30px;
}

#confirm-popup .descr,
#ref-popup .descr  {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #6B6EAF;
}

#confirm-popup .descr a,
#ref-popup .descr a {
	color: #29a3e8;
}

#error-popup {
	max-width: 560px;
}

#error-popup a {
	max-width: 360px;
	margin: 0 auto;
}

#ref-popup {
	max-width: 650px;
}

#ref-popup a {
	max-width: 360px;
	margin: 0 auto 30px;
}

#ref-popup .descr {
	max-width: 360px;
	margin: 0 auto;
}

.cabinet .investments-table .filter {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.cabinet .investments-table .filter .descr {
	margin-bottom: 8px;
}

.cabinet .investments-table .table {
	margin-bottom: 0;
}

.cabinet .investments-table .table .item {
	display: flex;
	justify-content: space-between;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

.cabinet .investments-table .table .item:not(:last-of-type) {
	margin-bottom: 12px;
}

.cabinet .investments-table .table .item.plus {
	color: #29a3e8;
}

.cabinet .investments-table .table .item.minus {
	color: #ff7d7d;
}

.cabinet .investments-table .table .item div,
.cabinet .investments-table .filter div {
	flex: 1;
}

.cabinet .investments-table .filter .sum {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.cabinet .investments-table .table .item .operation,
.cabinet .investments-table .filter .operation {
	flex: 2;
}

.cabinet .investments-table .table .item .sum {
	text-align: right;
}

.program-table {
	margin: 55px 0 200px; 
}

.program-table .title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
	color: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 40px;
}

.program-table {
	
}

.program-table .table {
	border: 1px solid #343778;
}

.program-table .table .table-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.program-table .table .table-head .item {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #29A3E8;
	padding: 20px;
	flex: 1;
	border-bottom: 1px solid #343778;
}

.program-table .table .table-head .item:not(:last-of-type),
.program-table .table .table-body .item:not(:last-of-type)  {
	border-right: 1px solid #343778;
}

.program-table .table .table-body {
	display: flex;
	justify-content: space-between;
}

.program-table .table .table-body .item {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	flex: 1;
	padding: 20px;
}

.program-table .table .table-body .item img {
	margin-right: 4px;
}


.select {
    position: relative;
    display: block;
    width: 100%;
    max-width: 240px;
    min-width: 180px;
    margin-bottom: 20px;
}

.select__head {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: 1px solid #6B6EAF;
    transition: .2s ease-out;
}

.select__head img {
	margin-right: 5px;
	position: relative;
	top: -2px;
}

.select__head::after {
    width: 10px;
    height: 6px;
    background: url("../img/icons/select-arrow.svg") no-repeat center / cover;
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
}

.select__head:hover {
	border: 1px solid #fff;
}

.select__head.open {
	border-radius: 10px 10px 0 0;
}

.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}

.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 5px;
    max-height: 205px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 98;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #424348;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;

    background: #1A1D48;
    border-bottom: 1px solid #6B6EAF;
    border-left: 1px solid #6B6EAF;
    border-right: 1px solid #6B6EAF;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    padding: 7px 0;
}

.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.select__list .select__item {
    position: relative;
    padding: 7px 20px;
    cursor: pointer;
    list-style-type: none;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    color: #6B6EAF;
    transition: .2s ease-out;
}

.select__list .select__item:hover {
    color: #fff;
}

.select.center .select__head {
	padding-right: 50px;
}

.select.center .select__list .select__item {
	padding-right: 50px;
}

#prev,
#next {
	background: #6B6EAF;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    transition: .2s ease-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#prev:hover,
#next:hover {
    background: #29A3E8;
    box-shadow: 0px 4px 22px rgba(35, 127, 213, 0.64);
}

#prev {
	left: -33px;
	top: calc(50% - 14px);
}

#next {
	right: -33px;
    top: calc(50% - 14px);
}